body {

    background: #f85032; /* Old browsers */
    color: aliceblue;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}


img {
    width: 100%;
    /*height: 100%;*/
    float: left;
}

